.sabirans04 {
    position: fixed;
    bottom: 18px;
    right: 18px;
    height: 70px;
    background: rgba(137, 189, 73, .25);
    border: none;
    -webkit-box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
    -webkit-border-radius: 100%;
    border-radius: 100%;
    color: #fff;
    padding: 0;
    padding-right: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 99;
    font-size: 0;
    font-weight: bold;
    color: #fff !important;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.sabirans04 i.icon {
    height: 50px;
    width: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #33CE33;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 10px 0 10px 10px;
    -webkit-transition: all cubic-bezier(.4, 0, .2, 1) .4s;
    -o-transition: all cubic-bezier(.4, 0, .2, 1) .4s;
    transition: all cubic-bezier(.4, 0, .2, 1) .4s;
}
.sabirans04 i.icon svg {
    height: 30px;
    position: relative;
    bottom: 1px;
}
.sabirans04 i.icon:after {
    content: "";
    position: fixed;
    display: block;
    height: 70px;
    width: 70px;
    background: rgba(137, 189, 73, .3);
    z-index: -1;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-animation: 3s ease-in-out infinite pulse;
    animation: 3s ease-in-out infinite pulse;
}
.sabirans04 i.icon svg path {
    fill: #fff;
}
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
    25% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        opacity: 1
    }
    55% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
    25% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        opacity: 1
    }
    55% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
}
